@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 15vw;
}

.navbar {
  background-color: #005aa7;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #48afff;
  font-family: "Poppins", sans-serif;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

.search input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search .search-btn {
  background-color: #0059ff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.login-signup {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  position: relative;
  color: white;
  background-color: #48afff;
  border: none;
  padding: 10px 9px;
  font-size: 18px;
  border-radius: 10px;
}

.login-signup::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1b83f3;
  transition: 0.3s ease;
}

.login-signup:hover::before {
  width: 100%;
}

#main-div {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.main {
  padding: 30px;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
}
h3 {
  color: rgb(0, 0, 0);
  text-align: center;
}
button {
  padding: 10px 19px;
  color: #489dfd;
  font-size: 19px;
  border-radius: 16px;
  border: 1px solid;
  cursor: pointer;
}
.button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart-b {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#cart-b button {
  border: 1px solid black;
  color: red;
}
.back-to-home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.back-to-home-button:hover {
  background-color: #0056b3;
  border-bottom: 2px solid #fff;
}
.back-button {
  display: flex;
  margin-top: 10px;
}
.total-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  /* border: 1px solid;  */
  /* flex-direction: row; */
}
#main-div2 {
  top: 50%;
  right: 50%;
  position: fixed;
  z-index: 111;
}
.less-h {
  height: 30px;
}
body {
  height: 100vh;
  width: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: block;
  background: white;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.container {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container form {
  margin-top: -20px;
}
.container form .data {
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .data label {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
form .data input {
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus {
  border-color: #3498db;
  border-bottom-width: 2px;
}
form .forgot-pass {
  margin-top: -8px;
}
form .forgot-pass a {
  color: #3498db;
  font-size: 15px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
form .forgot-pass a:hover {
  text-decoration: underline;
}
form .btn {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(
    right,
    #56d8e4,
    #4753bd,
    #56d8e4,
    #3498db
  );
  transition: all 0.4s;
}
form .btn:hover .inner {
  left: 0;
}
form .btn button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-con {
  /* height: 100px; */
  /* background-color: transparent; */
  /* background-color: white; */
  margin-top: 50px;
}
h2#swal2-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #1b83f3;
}
div#swal2-html-container {
  font-size: 16px;
  font-family: "Heebo";
  font-family: "Poppins", sans-serif;
  color: #1b83f3;
}
